.App {
  text-align: center;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.control {
  margin: 0 10px;
  width: 300px;
}
